@import "variable";
@import "global";
@import "paterns";
@import "single";

.components-flex.components-h-stack.editor-post-panel__row:last-child {
  display: none;
}

body .editor-styles-wrapper {
  // Block Styling
  //   @import "blocks/hero";

  .banner {
    display: none;
  }

  .wp-block-post-content > * {
    margin-bottom: 24px;
  }
}

nav .navigation__responsive-container {
  display: none; 
}

.wp-block-social-links
  .wp-block-social-link.wp-social-link
  .wp-block-social-link-anchor,
.wp-block-social-links
  .wp-block-social-link.wp-social-link
  .wp-block-social-link-anchor
  svg,
.wp-block-social-links
  .wp-block-social-link.wp-social-link
  .wp-block-social-link-anchor:active,
.wp-block-social-links
  .wp-block-social-link.wp-social-link
  .wp-block-social-link-anchor:hover,
.wp-block-social-links
  .wp-block-social-link.wp-social-link
  .wp-block-social-link-anchor:visited {
  border-radius: 100%;
  scale: 1.09;
  padding: 2px;
}
