@import "variable";

.blog-block {
  padding-bottom: 148px;
  padding-top: 60px;

  @include mobile {
    padding-top: 32px !important;
    padding-bottom: 52px !important;
  }

  .blog {
    &_categories {
      list-style-type: none;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
      max-width: 550px;
      margin-left: auto;
      margin-right: auto;

      li {
        cursor: pointer;
        border-radius: 48px;
        border: 1px solid rgba(255, 255, 255, 0.24);
        background: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(24px);
        padding: 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;



        &:hover {

          background: rgba(255, 247, 247, 0.10);
        }

        &.active {

          background: rgba(255, 247, 247, 0.10);
        }
      }
    }

    &_list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 4px;
      row-gap: 20px;
      margin-top: 80px;

      @include tablet {
        grid-template-columns: 1fr 1fr;
      }

      @include mobile {
        grid-template-columns: 1fr;
        margin-top: 40px;
      }

    }

    &_item {
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.06);
      background: #141414;
      transition: all 0.3s linear;

      &:hover {
        background-color: $blue-main;

        .blog_description {
          color: #fff;
        }
      }

      .btn {
        text-decoration: underline;
        color: #fff;
        margin-top: 32px;

        svg path {
          stroke: #fff;
        }
      }
    }

    &_image {
      border-radius: 16px;
      overflow: hidden;
      aspect-ratio: 424/257;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &_data {
      padding: 16px 24px;

      h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 132%;
        color: #fff;
      }
    }

    &_description {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%;
      color: #525252;
      transition: all 0.3s linear;
    }

  }

  .load-more {
    // display: block;
    // width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    svg {
      transform: rotate(135deg);
    }
  }

  .learning-center_item {
    padding-top: 40px;

    figure {
      display: none;

    }
  }
}