@import "variable";

.cards {
    padding-top: 120px;
    padding-bottom: 120px;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    svg {
        margin-left: auto;
        display: block;
        position: relative;
        right: -15%;
    }

    .block-title {
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        text-transform: uppercase;
        color: $blue-main;


        &.align--center {
            text-align: center;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 8px;
        margin-top: 60px;

        @include tablet {
            grid-template-columns: 1fr 1fr;
        }

        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    &__card {
        padding: 24px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(255, 255, 255, 0.06);
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 40px;
        // min-height: 380px;
        box-sizing: border-box;
        transition: all 0.3s linear;

        @include tablet {
            min-height: 280px;
        }

        &:hover {
            background-color: $blue-main;

            .description {
                color: #fff;
            }

            figure {
                img {
                    filter: brightness(1000%);
                }
            }
        }


        figure {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.10);
            border-radius: 100%;

            img {
                height: 36px;
                width: auto;
                transition: all 0.3s linear;
            }
        }

        h5 {
            margin: 0 0 12px;
            word-break: break-word;
        }

        .description {
            margin-bottom: 0;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            color: #525252;
            transition: all 0.3s linear;
        }
    }
}