@import "variable";

.cta {
  position: relative;
  background-color: inherit;
  padding-top: 120px;
  padding-bottom: 120px;

  @include mobile {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  > div {
    position: relative;
    background-color: inherit;
    &::before {
      background-color: #1c4dcf;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 100px;
      max-width: 80%;
      top: 100px;
      border-radius: 100px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.4;
      filter: blur(89.5px);
    }

    &::after {
      background-color: #2ddcec;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      max-height: 100px;
      max-width: 80%;
      bottom: 25px;
      border-radius: 100px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.4;
      filter: blur(89.5px);
    }
  }

  &__wrap {
    background-color: inherit;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 46px;
    border-radius: 16px;
    min-height: 332px;

    &.has-border {
      border: 1px solid $grayscale200;
    }
  }

  h3 {
    margin: 0 0 8px;
    position: relative;
    z-index: 3;
  }

  p {
    font-size: 18px;
    color: $grayscale200;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    position: relative;
    z-index: 3;
  }

  .btn {
    position: relative;
    z-index: 3;
  }

  &__image {
    position: absolute;
    max-height: 100%;
    box-shadow: 0px -8px 33.5px 0px $grayscale800;
    box-shadow: 0px -8px 33.5px 0px rgba(0, 0, 0, 0.08);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    &.bottom-img-1 {
      bottom: 0;
      left: 0;
    }

    &.bottom-img-2 {
      bottom: 0;
      left: 9%;
      z-index: 2;
    }

    &.bottom-img-3 {
      bottom: 0;
      right: 9%;
      z-index: 2;
    }

    &.bottom-img-4 {
      bottom: 0;
      right: 0;
    }
  }

  .btn {
  }
}
