@import "variable";

.custom-video {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mobile {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &__wrap {
    position: relative;

    >* {
      z-index: 1;
      position: relative;
    }

    &::before {
      border-radius: 1178px;
      background: #76BEFF;
      filter: blur(319.75px);
      content: "";
      position: absolute;
      bottom: -50%;
      left: -25%;
      width: 100%;
      height: 100%;
      max-width: 400px;
      max-height: 350px;
    }

    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 128px;
      width: 100%;
      cursor: pointer;

      &.hide {
        display: none;
      }


      path {
        fill: $blue-main
      }

      @include mobile {
        max-width: 56px;
      }

    }
  }

  >h3 {
    text-align: center;
    margin: 0 0 32px;
  }

  video {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    display: flex;
  }
}