@import "variable";

footer {
  position: relative;
  margin-top: 0;


  >.wp-block-group::before {
    border-radius: 540px;
    background: #4F7DF3;
    filter: blur(760px);
    content: "";
    position: absolute;
    top: 15%;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 300px;
  }

  .navigation {
    &__responsive-container {
      &-menu {
        >.footer-menu {
          gap: 16px;
          flex-direction: row;

          .menu-item {
            a {
              color: $grayscale300;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 140%;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $blue-main;
              }

              @include mobile {
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  .footer-links,
  .footer-newsletter {
    position: relative;
    z-index: 1;

    @include mobile {
      justify-content: center;
    }
  }

  .copyright {
    position: relative;
    z-index: 1;

    >div {
      @include mobile {
        justify-content: center;
      }
    }
  }

  .wp-block-image.size-full {
    width: initial;
  }

  .wp-block-contact-form-7-contact-form-selector {
    flex: 1;
    max-width: 482px;

    @include mobile {
      flex: initial;
    }
  }

  span.wpcf7-not-valid-tip {
    position: absolute;
    width: 100vw;
    max-width: 300px;
    text-align: center;
  }

  .form-fields {
    display: flex;
    gap: 6px;

    @include mobile {
      flex-direction: column;
      gap: 12px;

      .btn {
        max-width: 100%;
      }
    }

    input {

      &[type="submit"] {}

      &:focus-visible {
        outline: none;
      }
    }
  }
}