@import "variable";

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 34px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;

  @include mobile {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  >* {
    flex: 1;
  }

  @include tablet {
    flex-direction: column;
  }

  &::before {
    border-radius: 540px;
    background: #76BEFF;
    filter: blur(380px);
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 540px;
  }

  &__content {
    max-width: 680px;
    position: relative;
    z-index: 1;

    h2,
    h1 {
      margin-bottom: 24px;
      max-width: 500px;
      font-size: 44px;
      font-weight: 600;
      letter-spacing: normal;
      line-height: 128%;

      @include tablet {
        text-align: center;
        margin-left: auto;
        margin-right: auto;

      }

      @include mobile {
        max-width: 300px;
        font-size: 28px;
      }
    }

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 132%;
      color: #9D9D9D;
      margin: 0 0 40px;

      @include tablet {
        text-align: center;

      }

      @include mobile {
        font-size: 16px;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }

    }

    .buttons {
      display: flex;
      align-items: flex-end;
      gap: 16px;

      @media screen and (max-width: 1220px) {
        flex-wrap: wrap;
        justify-content: center;
      }

      @include tablet {
        justify-content: center;
      }

      @include mobile {
        row-gap: 24px;
        column-gap: 6px;
      }

      .btn--no-border {
        @include mobile {
          min-height: auto;
          height: 35px;
        }

      }

      .btn--primary {
        padding-right: 4px !important;

        @media screen and (max-width: 1220px) {
          flex-basis: 100%;
          max-width: 100%;
        }

        .icon {
          right: 0;
        }
      }
    }
  }

  &__image {
    position: absolute;
    right: -859px;
    right: -75%;
    top: 38px;
    left: 50%;

    @include tablet {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      max-height: 495px;
      object-fit: contain;
      object-position: left center;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1220px) {
    .hero__image {
      right: -90%;
    }

    .hero__content {
      max-width: 40%;
    }
  }
}