@import "variable";

.hero-questions {
  .pin-spacer {
    z-index: initial !important;
  }

  .chat {
    &__head {
      max-width: 599px;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-bottom: 50px;
      opacity: 0.5;
      transition: all 0.3s ease-in-out;

      &.active {
        opacity: 1;
      }

      h1 {
        text-align: center;
        margin-bottom: 0;
      }
      &__description {
        color: #7b7b7b;
        margin-bottom: 20px;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        margin-top: 12px;
        margin-bottom: 12px;

        > * {
          color: #7b7b7b;
          margin-bottom: 20px;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 1.2;
          text-align: center;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      pre {
        background-color: #f6f8fa;
        padding-top: 8px;
        padding-right: 16px;
        padding-bottom: 8px;
        padding-left: 16px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        margin: 0;
        display: flex;
      }

      code {
        display: block;
        font-family: inherit;
        overflow-wrap: break-word;
        white-space: pre-wrap;
      }

      .code-wrapper {
        border-radius: 8px;
        padding-top: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
        padding-left: 12px;
        background-color: #fff;
      }
    }

    &__footer {
      max-width: 800px;
      margin-left: auto !important;
      margin-right: auto !important;
      padding-top: 180px;
      opacity: 0;
      transition: all 0.8s ease-in-out;

      &.active {
        opacity: 1;
      }
    }
    &__wrapper {
      position: relative;

      .pinned-element {
        height: 100px;
        width: calc(100% - 48px);
        position: fixed;
        left: 50%;
        top: calc(50% - 100px);
        transform: translate(-50%, -50%);
        justify-content: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;

        &.active {
          opacity: 1;
          visibility: visible;
        }
        > div {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }

      .overlay {
        position: absolute;
        min-height: 100vh;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);

        &::before {
          width: 100%;
          height: 100%;
          max-height: 400px;
          max-width: 104px;
          content: "";
          position: absolute;
          top: 0;
          left: 55%;
          transform: translate(-50%, -50%) rotate(-45deg);
          background-color: #1c4dcf;
          opacity: 0.24;
          filter: blur(89.5px);
        }
        &:after {
          width: 100%;
          height: 100%;
          max-height: 400px;
          max-width: 104px;
          content: "";
          position: absolute;
          top: 0;
          left: 45%;
          transform: translate(-50%, -50%) rotate(-45deg);
          background-color: #02ccf5;
          opacity: 0.24;
          filter: blur(89.5px);
        }
      }

      > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__answer__question {
      display: flex;
      flex-direction: column;
      gap: 8px;
      opacity: 0.1;
      z-index: 1;
      visibility: visible;
      overflow: visible;
      transition: opacity 0.3s ease-in-out;

      &.active {
        opacity: 1;

        z-index: 9999;
      }
    }

    &__question {
      padding: 8px;
      border-radius: 8px;
      color: #000;
      background: $grayscale100;
      box-shadow: 0px 4px 22.1px 0px rgba(0, 0, 0, 0.1);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      margin: 0;
      max-width: fit-content;
      align-self: flex-end;
      background-color: #fff;
    }

    &__answer {
      padding: 8px 12px;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
      width: fit-content;
      max-width: 556px;

      a {
        color: $blue-main;
        text-decoration: none;
      }

      > p {
        font-style: normal;
        font-weight: 600;
        line-height: 128%; /* 20.48px */
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
      }

      > div {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 148%; /* 23.68px */
        color: $grayscale600;

        > * {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 148%; /* 23.68px */
          color: $grayscale600;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
