@import "variable";

.image-tabs {
    padding-top: 120px;
    padding-bottom: 120px;
    // background: #101010;
    position: relative;

    @include mobile {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &::before {
        border-radius: 540px;
        background: #4F7DF3;
        filter: blur(760px);
        content: "";
        position: absolute;
        top: 15%;
        left: -25%;
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 540px;
    }

    svg {
        margin-left: auto;
        display: block;
        position: relative;
        right: -80px;
    }

    .block-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 110%;
        text-transform: uppercase;
        color: $blue-main;
        margin: 0 0 24px;

        @include mobile {
            font-size: 16px;
        }
    }

    .block-description {
        font-size: 34px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        max-width: 680px;
        margin: 0;

        @include mobile {
            font-size: 22px;
        }
    }

    .tabs__wrapper {
        display: flex;
        column-gap: 75px;
        row-gap: 40px;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
            margin-top: 32px;
        }

        // >* {
        //     flex: 1;
        // }

        figure {

            position: relative;


            @media screen and (min-width: 1201px) {
                min-height: 600px;
                aspect-ratio: 750/600;
            }

            img {
                height: 100%;

                @media screen and (min-width: 1201px) {
                    position: absolute;
                    top: 0;
                }

                @media screen and (max-width: 1200px) {
                    width: 100%;
                }
            }
        }

        ul {

            max-width: 540px;
            list-style-type: none;
            padding: 0;
            width: 100%;

            @media screen and (max-width: 1200px) {
                max-width: 100%;
            }

            li {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 148%;
                padding: 40px 0;
                border-bottom: 1px solid #525252;
                color: #525252;
                cursor: pointer;
                transition: all 0.3s linear;

                @include mobile {
                    padding: 32px 0;
                }

                &:first-child {
                    border-top: 1px solid #525252;
                }

                &.active,
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}