@import "variable";

.latest-posts {
    padding-top: 120px;
    padding-bottom: 120px;

    @include mobile {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    >.btn {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .posts {
        &_list {
            padding: 40px 0;
        }
    }

    .post {
        &_item {
            border-radius: 16px;
            border: 1px solid rgba(255, 255, 255, 0.06);
            background: #141414;
            transition: all 0.3s linear;

            &:hover {
                background-color: $blue-main;

                .post_description {
                    color: #fff;
                }
            }

            .btn {
                text-decoration: underline;
                color: #fff;
                margin-top: 32px;

                svg path {
                    stroke: #fff;
                }
            }
        }

        &_image {
            border-radius: 16px;
            overflow: hidden;
            aspect-ratio: 424/257;

            img {
                width: 100%;
                height: 100%;
                filter: grayscale(1);
            }
        }

        &_data {
            padding: 16px 24px;

            h3 {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 132%;
                color: #fff;
            }
        }

        &_description {
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            color: #525252;
            transition: all 0.3s linear;
        }
    }
}