@import "variable";

// .error404 {
//   header {
//     position: relative;
//     z-index: 2;
//     background-color: #fff;
//   }
// }

.not-found {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    border-radius: 540px;
    background: #76BEFF;
    filter: blur(380px);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    max-width: 367px;
    max-height: 540px;

  }

  &__wrap {
    position: relative;
    display: flex;
    min-height: 650px;
    justify-content: space-between;
    align-items: center;
    padding: 52px 0;
    gap: 16px;

    @include tablet {
      flex-direction: column;
      justify-content: flex-start;
      min-height: 450px;
    }

  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 390px;

    @include tablet {
      text-align: center;

      .btn {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .btn {
      color: #000;

      &:hover {
        color: #fff;
      }
    }

    h1 {
      margin: 0 0 24px;
    }

    p {
      margin: 0 0 60px;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 132%;
      color: $grayscale400;
    }
  }

  &__letters {
    position: relative;
    z-index: 2;

    @include tablet {
      order: -1;
    }

    svg {
      width: 23vw;
      height: auto;
    }

    span {
      font-size: 23vw;
      font-style: normal;
      font-weight: 600;
      line-height: 106%;
      color: $blue-main;
      ;
    }


  }

  @media screen and (min-width: 1500px) {
    html .not-found__letters span {
      font-size: 350px;
    }

    html .not-found__letters svg {
      width: 350px;
    }
  }

}