@import "variable";

.hero-code {
  position: relative;

  >* {
    position: relative;
    z-index: 1;
  }

  &::before {
    width: 100%;
    height: 215%;
    max-width: 104px;
    content: "";
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #1c4dcf;
    opacity: 0.24;
    filter: blur(89.5px);
  }

  &::after {
    width: 100%;
    height: 215%;
    max-width: 104px;
    content: "";
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #02ccf5;
    opacity: 0.24;
    filter: blur(89.5px);
  }
}

.plans {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;

  @include mobile {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &::before {
    border-radius: 891px;
    background: #550376;
    filter: blur(380.1499938964844px);
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 380px;
    bottom: -25%;
    right: -25%;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  ul {
    list-style-type: disc;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}