@import "variable";

.posts {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mobile {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1332px;
    margin: 0 0 32px;

    h2 {
      margin: 0;
    }

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 124%; /* 19.84px */
      color: $teal800;
      padding: 4px 8px;
      width: fit-content;
      transition: all 0.3s ease-in-out;
      display: flex;
      align-items: center;
      gap: 4px;
      background-color: $teal50;
      border-radius: 4px;

      &:hover {
        background-color: $teal100;
      }
    }
  }

  .article-swiper-pagination {
    margin-top: 40px;

    .swiper-pagination-bullet {
      background: $grayscale300;
      width: 8px;
      height: 8px;
      vertical-align: middle;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: $grayscale500;
      width: 12px;
      height: 12px;
    }
  }

  &_list {
  }
  .post {
    &_item {
      border-radius: 16px;
      border: 1px solid $grayscale200;
      box-shadow: 0px 8px 20px 0px rgba(138, 138, 152, 0.14);
      padding: 16px;
    }

    &_image {
      width: 100%;
      overflow: hidden;
      display: flex;
      border-radius: 8px;
      margin: 0 0 12px;

      img {
        width: 100%;
        aspect-ratio: 320/230;
      }
    }

    &_data {
      h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 132%; /* 23.76px */
        margin: 0 0 4px;
      }

      a {
        margin: 16px 0 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 124%; /* 19.84px */
        color: $teal800;
        padding: 4px 8px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: fit-content;
        transition: all 0.3s ease-in-out;
        border-radius: 4px;

        &:hover {
          background-color: $teal100;
        }
      }
    }
    &_description {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 148%; /* 23.68px */
      color: $grayscale500;
    }
  }
}
