@import "variable";

.post-head {
  margin-bottom: 12px;

  .back-link {

    position: absolute;
    left: 28px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 48px;
    background: rgba(255, 255, 255, 0.12);

    &:hover {
      background-color: $blue-main;
    }

    @include tablet-s {
      position: relative;
      left: auto;
      margin-bottom: 24px;
    }
  }

  h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    /* 44.2px */
    margin: 0 0 20px;

    @include mobile {
      font-size: 28px;
    }

    @include mobile-sm {
      font-size: 22px;
    }
  }

  figure.post_image {
    display: flex;
    overflow: hidden;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      max-height: 400px;
    }
  }

  &_date_auth {
    margin: 20px 0 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    /* 23.68px */
    color: $grayscale400;

    span {
      color: $blue-main;

      span {
        text-transform: capitalize;
      }
    }
  }

  .share-links {
    display: flex;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 24px 0 40px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      width: 22px;
      padding: 10px 16px;

      border-radius: 48px;
      border: 1px solid rgba(255, 255, 255, 0.24);
      background: rgba(0, 0, 0, 0.48);
      backdrop-filter: blur(24px);

      img,
      svg {
        width: auto;
        height: 24px;
      }
    }
  }
}