@import "variable";

.single-post {
  main {
    padding-top: 40px;
    padding-bottom: 120px;

    >* {
      >.wp-block-group {
        max-width: 832px;
        margin-left: auto;

        @include tablet-s {
          max-width: 100%;
        }
      }
    }

    .entry-content {
      p {
        // color: $grayscale400;
        color: #fff;
        font-size: 16px;
        font-weight: 400;

      }

      >* {
        margin-bottom: 24px;
      }
    }


  }
}