@import "variable";

.steps {
    padding-top: 120px;
    padding-bottom: 120px;

    @include mobile {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .title {
        font-family: $inter;
        font-weight: 500;
        font-size: 28px;
        line-height: 110.00000000000001%;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        color: #4F7DF3;
        margin: 0 0 80px;

        &.align--center {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;

    }

    .step {
        font-family: $poppins;
        font-weight: 500;
        font-size: 24px;
        line-height: 132%;
        letter-spacing: 0%;
        color: #565656;
        border-top: 1px solid currentColor;
        padding: 40px 0;
        transition: all 0.3s linear;

        @include mobile {
            font-size: 16px;
        }

        &:last-child {
            border-bottom: 1px solid currentColor;
        }

        &:hover {
            color: #FFFFFF;

            &+.step {
                border-color: #ffff;
            }
        }
    }
}