@import "variable";

.tools-grid {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;

  @include mobile {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 561px;
    max-height: 315px;
    border-radius: 561px;
    background: $blue-main;
    filter: blur(380px);
    bottom: -25%;
    left: -50%;
  }

  &__description {
    position: relative;
    z-index: 1;
  }

  &__items {
    gap: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

  &__item {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 88px;
    max-height: 88px;
    flex: 0 0 calc(12.5% - 16px);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include mobile {
      flex: 0 0 calc(25% - 16px);
    }

    @include mobile-sm {
      min-height: 70px;
      max-height: 70px;
      flex: 0 0 calc(33.3333333333% - 16px);
    }

    a {
      display: flex;
    }

    img {
      max-width: 50px;
    }

    &__tooltip {
      position: absolute;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.22);
      padding: 8px 12px;
      top: -8px;
      transform: translateY(-100%);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.2;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;

      svg {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.22);
      .tools-grid__item__tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
