@import "variable";

.tools-tabs {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mobile {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }

  > h3 {
    text-align: center;
  }

  .tabs-container {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    &:before {
      border-radius: 939px;
      background: #390067;
      filter: blur(380.1499938964844px);
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 939px;
      max-height: 300px;
      left: -25%;
      bottom: -5%;
    }
  }

  .tabs {
    display: flex;
    position: relative;
    z-index: 1;

    @include tablet-s {
    }

    &__wrap {
      overflow: scroll;
      scrollbar-width: none;
      overflow: scroll; /* Keeps scrolling functionality */
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .tab {
    flex: 1;
    padding: 12px 12px 16px 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    min-width: 272px;

    &__head {
      display: flex;
      align-items: center;
      gap: 12px;

      h4 {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 132%; /* 23.76px */
        margin: 0;
      }

      figure {
        width: 100%;
        height: 100%;
        max-width: 52px;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__description {
      opacity: 0.8;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  .tab:hover {
  }

  .tab.active {
    border-radius: 8px 8px 0px 0px;
    border-top: 1px solid rgba(85, 85, 85, 0.2);
    border-right: 1px solid rgba(85, 85, 85, 0.2);
    border-left: 1px solid rgba(85, 85, 85, 0.2);
    background: rgba(255, 255, 255, 0.04);
  }

  /* Content styles */
  .tab-content {
    padding: 29px 0 0;
    border-radius: 0px 8px 8px 8px;
    border: 1px solid rgba(85, 85, 85, 0.2);
    border-top: 1px solid rgba(85, 85, 85, 0.05);
    background: rgba(255, 255, 255, 0.04);
    position: relative;
    z-index: 1;

    p {
      margin: 0;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 800px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .content {
    display: none;
  }

  .content.active {
    display: block;
  }
}
