@import "variable";

.work-steps {
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;

    @include mobile {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    &::before {
        border-radius: 540px;
        background: #4F7DF3;
        filter: blur(760px);
        content: "";
        position: absolute;
        top: 15%;
        left: -25%;
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 540px;
    }

    .steps {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .step {
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.06);
        background: #141414;
        padding: 32px;
        display: flex;
        row-gap: 60px;
        column-gap: 10%;
        justify-content: space-between;
        align-items: flex-end;
        position: sticky;
        top: 180px;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            padding: 24px;
        }

        >* {
            flex: 1;
        }

        .title {
            max-width: 350px;
            display: flex;
            flex-direction: column;
            row-gap: 60px;

            @include mobile {
                row-gap: 4px;
            }

            h4 {
                margin: 0;
                font-size: 20px;
                font-style: normal;
                font-weight: 300;
                line-height: 110%;
                font-family: $inter;
                text-transform: uppercase;
                color: $blue-main;

                @include mobile {
                    font-size: 16px;
                }
            }

            p {
                font-size: 44px;
                font-style: normal;
                font-weight: 600;
                line-height: 128%;
                color: rgba(255, 255, 255, 0.24);
                margin: 0;

                @include mobile {
                    font-size: 16px;
                    font-size: 38px;
                }
            }
        }

        .description {

            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 132%;
            /* 31.68px */

            @include mobile {
                font-size: 20px;
            }
        }
    }
}