<!-- wp:template-part {"slug":"header","theme":"oboto","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:group {"align":"full","layout":{"type":"default"}} -->
    <div class="wp-block-group alignfull">
      <!-- wp:oboto/post-head {"name":"oboto/post-head","data":[],"mode":"preview"} /-->

      <!-- wp:post-content {"align":"full","layout":{"type":"default"}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:oboto/releated-posts {"name":"oboto/releated-posts","data":[],"align":"full","mode":"preview"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"oboto","tagName":"footer","className":"site-footer"} /-->
